html, body {
  margin: 0;
  padding: 0;

}
canvas {
  display: block;
}

header {
  padding: 1em;
  border: 2px solid white;
  margin-top: 5vmin;
}


.header-text {
  color:gainsboro;
  text-align: left;
  font-variant-caps: all-small-caps;
  font-size: 5em;        
}

.section {
  color:gainsboro;
  padding: 1em;
  margin-top: 3vmin;
  border: 2px solid gainsboro;
}

.section h2 {
  font-variant-caps: all-small-caps;
}

.section li {
  font-size: 1em;
}

